.spinner{
    margin: 20% auto;
}
.ancho{
    width: 100%;
    height: 50px;
}

.ancho-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnCancelar{
    background: rgb(175, 0, 0);
    color: #fff;
}
.btnEditar{ 
    background-color: rgb(15, 32, 65);
    color: #fff;
}
.btnEliminarFoto{
    background: rgb(175, 0, 0);
    color: #fff;
}